.question-box{
    text-align: center;
    background-color: rgb(242, 244, 250);
    /* border: 1px solid goldenrod; */
    border-radius: 7px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.question-box p{
    text-align: justify;
    text-justify: inter-word;
}